apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kaayaka-ai
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/NaveenSasalu/kaayaka-ai-infra.git"
    targetRevision: main
    path: k8s
  destination:
    server: "https://kubernetes.default.svc"
    namespace: ai
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
